<footer class="footer bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="lead">Comic box es una página para la visualización de comics y, como nosotros lo decimos, "Madurar es para frutas".</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#"><i class="bi bi-facebook" style="font-size: 2rem;"></i></a>
                <a href="#" style="font-size: 2rem;"><i class="bi bi-twitter"></i></a>
                <a href="#" style="font-size: 2rem;"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-info btn-back-to-top">Volver arriba</a>
            </div>
        </div>
    </div>
</footer>



</body>
</html>